@use 'variables' as *;

button {
  cursor: pointer;
  background-color: $blue-500;
  color: $neutral-0;
  border-color: transparent;
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding: 14px;
  border-radius: 10px;

  &:disabled {
    background-color: $neutral-800;
  }

  &[type='submit'] {
    @media (min-width: 1024px) {
      max-width: 120px;
    }

    &:hover {
      background-color: $blue-700;
    }
  }
}

.toggle-button-wrapper {
  position: relative;
  button {
    background-color: $neutral-700;
  }

  .options {
    position: absolute;
    z-index: 100;

    min-width: 200px;
    right: 0;
    top: calc(100% + 1rem);

    display: flex;
    flex-direction: column;

    background-color: $neutral-800;
    padding: 6px;
    border: solid 2px $neutral-600;
    border-radius: 10px;

    fieldset {
      border: none;
      padding: 6px 0;
      margin-block: 0.25rem;

      &:not(:first-of-type) {
        border-top: solid 2px $neutral-600;
      }

      > div {
        display: flex;
        flex-direction: column;
      }

      span {
        font-size: 0.8rem;
        color: $neutral-300;
        display: block;
        padding-block: 0.25rem;
        padding-left: 0.5rem;
      }

      input[type='radio'] {
        position: fixed;
        opacity: 0;
        pointer-events: none;

        & ~ label {
          border-radius: 6px;
          padding: 0.5rem;
        }

        &:checked {
          & ~ label {
            display: flex;
            position: relative;
            background-color: $neutral-700;

            &::after {
              content: '';
              position: absolute;
              background-image: url('/src/assets/images/icon-checkmark.svg');
              background-repeat: no-repeat;
              background-position: center;
              background-size: 100%;
              width: 1rem;
              height: 100%;
              right: 0.5rem;
              top: 0;
            }
          }
        }
      }
    }
  }
}

button.has-icon {
  position: relative;
  padding-block: 8px;
  border-radius: 6px;

  &.cog {
    padding-left: 2rem;

    &::before {
      content: '';
      position: absolute;
      background-image: url('/src/assets/images/icon-units.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      height: 1rem;
      aspect-ratio: 1/1;

      left: 0.5rem;
    }
  }

  &.arrow-down {
    padding-right: 2rem;

    &::after {
      content: '';
      position: absolute;
      background-image: url('/src/assets/images/icon-dropdown.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
      height: 1rem;
      aspect-ratio: 1/1;

      right: 0.5rem;
    }
  }
}
